<h1>Editing Create Organization Request</h1>

<%= render 'form', create_organization_request: @create_organization_request %>

<%= link_to 'Show', @create_organization_request %> |
<%= link_to 'Back', create_organization_requests_path %>
