<div class="row mt-5">
  <h1>Faire une demande de création d'une organisation</h1>
  <div class="col m-5">
    <%= render 'form', create_organization_request: @create_organization_request %>
  </div>
</div>


