<div class="row mt-5 mb-5">
   <h1>Parties prenantes de l'organisation</h1>
 </div>
<div class="row p-4">
  <div class="col-7">
    <h4 class="text-info">Demande de participation d'utilisateurs</h4>
    <%= render "stakeholder_requests/list"%>
  </div>
  <div class="col-5">
      <h4 class="text-info">Ajouter une partie prenante non associée à un utilisateur</h4>
      <%=render "external_stakeholders/form"%>
  </div>
</div>
<div class="row p-5">
  <h3>Vos parties prenantes par catégorie</h3>
  <% @external_stakeholders_category.each do |category| %>
    <div class="col-6 align-items-center text-white mt-4">
      <div class="row p-3">
        <h4><%=category.name.capitalize%></h4>
        <%= render "external_stakeholders/list", external_stakeholders: @all_external_stakeholders.where(stakeholder_category: category)%>
      </div>

    </div>

  <%end%>
</div>